<html>
<head>
        <title>Elena's blog</title>
    </head>
<body>
  <div>
         <h1><a href="/">Django Girls Blog</a></h1>
     </div>

     <div>
         <p>published: 14.06.2014, 12:14</p>
         <h2><a href="">My first post</a></h2>
         <p>La vida es un viaje, sin embargo hay distintos tipos de caminos
           que podemos tomar, si eliges el camino viajero experimentaras
           situaciones únicas que enriqueceran tu vida ya que conoceras
           otras culturas y sus costumbres y tradiciones,
           que te harán verlo todo desde distintas perspectivas.</p>
     </div>

     <div>
         <p>published: 14.06.2014, 12:14</p>
         <h2><a href="">My second post</a></h2>
         <p>Hoy hablaremos de las distintas situaciones que pueden surgirte
         al realizar un viaje a Japón y las diferencias culturales que te
       puedes encontrar. En Japón encontraras también una variedad muy rica
        en sus diferentes platos tipicos. Es una cultura muy diferente pero
      te sorprenderá y no querrás irte de allí :) .</p>
     </div>
 </body>
</body>
</html>
